# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out
/integration/bazel/bazel-*
*.log

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
pubspec.lock
.devcontainer/*
!.devcontainer/README.md
!.devcontainer/recommended-devcontainer.json
!.devcontainer/recommended-Dockerfile
*.swo
*.swp
modules/.settings
modules/.vscode
.vimrc
.nvimrc
*secret.js
.build-analytics
/modules/rollup-test/dist/
.bazelrc.user
.ng-dev.user*
.notes.md
baseline.json
.husky/_

# System files
.DS_Store
Thumbs.db