<form (ngSubmit)="onSubmit()" [formGroup]="emailForm">
    <app-input [control]="emailForm.get('to')" inputType="email" label="To">
    </app-input>
    <app-input [control]="emailForm.get('from')" inputType="email" label="From">
    </app-input>
    <app-input [control]="emailForm.get('subject')" inputType="text" label="Subject">
    </app-input>
    <app-input [control]="emailForm.get('text')" controlType="textarea" label="Content">
    </app-input>
    <div class="flex items-center justify-center">
        <button
            class="text-white bg-gradient-to-r from-cyan-500 to-blue-500 font-medium rounded-lg text-sm h-10 w-20">Send
        </button>
    </div>
</form>