<div class="h-10 w-screen bg-gray-800 text-white">
    <div class="flex flex-row items-center justify-between">
        <div class="ml-10">
            <a routerLink="/" class="flex items-center px-2 py-1">
                <span class="rounded-full h-8 w-8 bg-gray-50 flex items-center justify-center">
                    <img alt="logo" class="mr-1 ml-1 h-5" src="../assets/mec.jpg">
                </span>
                <span class="self-center text-xs whitespace-nowrap text-white font-light ml-2">Muhaimin's
                    Email Client.
                </span>
            </a>
        </div>
        <div class="flex flex-row space-x-10 px-2 py-2 mr-10">
            <ng-container *ngIf="signedin$ | async">
                <a routerLink="/" routerLinkActive="active" class="flex items-center">
                    Inbox
                </a>
                <a routerLink="/signout" routerLinkActive="active" class="flex items-center">
                    Sign Out
                </a>
            </ng-container>
            <ng-container *ngIf="!(signedin$ | async)">
                <a routerLink="/" routerLinkActive="active" class="flex items-center">
                    Sign In
                </a>
                <a routerLink="/signup" routerLinkActive="active" class="flex items-center">
                    Sign Up
                </a>
            </ng-container>
        </div>
    </div>
</div>
<router-outlet></router-outlet>