<div class="flex flex-row gap-8">
    <div class="w-72 h-[calc(100vh-70px)] border-2 rounded m-2">
        <div class="flex items-center justify-center">
            <app-email-create></app-email-create>
        </div>
        <div class="w-64 mt-5 mb-5 overflow-y-hidden">
            <app-email-index></app-email-index>
        </div>
    </div>
    <div class="flex items-center justify-center">
        <div class="w-[calc(100vw-380px)] h-[calc(100vh-200px)] border-2 rounded overflow-auto">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>