<div (click)="showModal = true" class="mt-3 w-56 h-10 text-white bg-gradient-to-r from-cyan-500 to-blue-500
                font-medium rounded-lg text-sm flex items-center justify-center">
    <button type="button" class="">Compose</button>
</div>

<app-modal (dismiss)="showModal = false" *ngIf="showModal">
    <h3 modalTitle class="text-3xl font-semibold">Compose</h3>
    <p body class="my-4 text-slate-500 text-lg leading-relaxed">
        <app-email-form (emailSubmit)="onSubmit($event)" [email]="email"></app-email-form>
    </p>
</app-modal>